body {
  font-weight: 700;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 18px;
  color: #503c28;
  line-height: 1.75;
}
button {
  line-height: 1.75;
}
.osanbashi_link {
  margin: 0;
  display: inline;
}
ruby rt {
  margin-bottom: -0.35rem;
  line-height: 0.5;
}
body footer {
  margin: 0;
  text-align: center;
}

body footer p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}
body footer a {
  text-decoration: none;
}
body footer small {
  margin: 0;
  font-size: 0.68rem;
  letter-spacing: 0rem;
}

html {
  scroll-behavior: smooth;
}
